{% load static sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Soravelon">
    <meta name="description" content="Soravelon is an authored, open-world social-memory RPG.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/website.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/custom.css' %}">

    {% block header_ext %}{% endblock %}
    <title>{{ game_name }} - {% if flatpage %}{{ flatpage.title }}{% else %}{% block titleblock %}{{ page_title }}{% endblock %}{% endif %}</title>
  </head>
  <body>
    {% block body %}
    <div id="top">
      <a href="#main-content" class="sr-only sr-only-focusable">Skip to main content.</a>
    </div>
    {% include "website/_menu.html" %}

    <main class="container main-content" id="main-content" tabindex="-1">
      {% include "website/messages.html" %}
      {% block content %}{% endblock %}
      {% include "website/pagination.html" %}
    </main>

    <footer class="footer">
      {% block footer %}
      <div class="container">
        <p class="footer-copy">
          Soravelon runs on <a href="https://evennia.com">Evennia</a>.
        </p>
      </div>
      {% endblock %}
    </footer>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
