{% extends "webclient/base.html" %}
{% load static %}

{% block client %}
<div id="toolbar"></div>

<div id="main" class="split split-vertical" data-role-default>
  <div id="main-sub" class="split-sub">
    <div id="messagewindow"></div>
  </div>
</div>

<div id="input" class="split split-vertical" data-role-input data-update-append>
  <div id="inputform" class="wrapper">
    <div id="prompt" class="prompt"></div>
    <div id="inputcontrol" class="input-group">
      <textarea id="inputfield" type="text" class="form-control"></textarea>
      <span class="input-group-btn">
        <button class="btn btn-large btn-outline-primary" id="inputsend" type="button" value="">&gt;</button>
      </span>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src={% static "webclient/js/plugins/soravelon_oob.js" %} type="text/javascript"></script>
{% endblock %}
