{% extends "webclient/base.html" %}
{% load static %}

{% block client %}
<div id="toolbar" aria-label="Client toolbar"></div>

<div id="main" class="split split-vertical" data-role-default>
  <div id="main-sub" class="split-sub">
    <div
      id="messagewindow"
      role="log"
      aria-live="polite"
      aria-label="Game output"
      aria-relevant="additions text"
      tabindex="0"
    ></div>
  </div>
</div>

<div id="input" class="split split-vertical" data-role-input data-update-append>
  <div id="inputform" class="wrapper">
    <div id="prompt" class="prompt"></div>
    <div id="inputcontrol" class="input-group">
      <textarea
        id="inputfield"
        class="form-control"
        aria-label="Command input"
        autocomplete="off"
        spellcheck="false"
        rows="1"
      ></textarea>
      <span class="input-group-btn">
        <button
          class="btn btn-large btn-outline-primary"
          id="inputsend"
          type="button"
          value=""
          aria-label="Send command"
          title="Send command"
        >&gt;</button>
      </span>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src='{% static "webclient/js/plugins/soravelon_oob.js" %}?v=20260713-1' type="text/javascript"></script>
{% endblock %}
